<div class="col-sm-12 col-md-4 col-lg-3 mb-2">
	<div class="card shadow-sm">
		<div class="card-body">
			<div class="card-title">
				<a href="{{ object.type }}/id:{{ object.key|e }}"><span class="title">{{ object.title|e }}</span></a>
			</div>
			<p class="card-text"><small><span class="tags"><i class="fa fa-tags"></i> {{ object.tags }}</span></small></p>
		</div>
	</div>
</div>
