{% extends 'partials/base.html.twig' %}

<style>
.recipebook-inline-list li {
	display: inline;
}
</style>

{% block content %}

{% if grav.user.authenticated %}
	{% include 'partials/recipebook/edit_button.html.twig' %}
{% endif %}

<h1>{{ recipe.name }}</h1>

<ul>
{% for ingr in recipe.ingredients %}
	<li>{{ ingr }}</li>
{% endfor %}
</ul>

{{ recipe.directions|markdown }}

<ul class="recipebook-inline-list">
{% for tag in recipe.tags %}
	<li>{{ tag }}</li>
{% endfor %}
</ul>

{% endblock %}
