{% extends 'partials/base.html.twig' %}

{% block content %}

<h1>Recipebook</h1>

{% if grav.user.authenticated %}
	{% include 'partials/recipebook/new_button.html.twig' %}
{% endif %}

<ul class="recipe-list">
{% for recipe in recipes %}
	<li class="recipe-list-item"><a href="{{ config.plugins.recipebook.route_view ~ "/" ~ recipe.uuid }}">{{ recipe.name }}</a></li>
{% endfor %}
</ul>


{% endblock %}