{% extends 'partials/base.html.twig' %}

{% block content %}

{% if grav.user.authenticated %}
	{% include 'partials/recipebook/edit_button.html.twig' %}
{% endif %}

<h1>{{ recipe.name }}</h1>

<ul>
{% for ingr in recipe.ingredients %}
	<li>{{ ingr }}</li>
{% endfor %}
</ul>

{{ recipe.directions|markdown }}

{% endblock %}
